body {
  margin: 0;
  padding: 0;
  background-color: #222;
}

b {
  display: none;
}

.side-navbar {
  display: flex;
  position: relative;
}

.side-navbar .side-content {
  width: 4rem;
  height: 100%;
  background: #181818;
  padding: 4rem 0rem 0rem 0rem;
  position: fixed;
}

.side-content a {
  display: block;
  padding: 2rem 0rem 2rem 0rem;
  color: white;
  text-decoration: none;
}

.side-content li {
  padding: 2.5rem 0rem 2.5rem 0rem;
  text-align: center;
}

.side-content a:hover i {
  display: none;
}

.side-content a:hover b {
  display: inline;
}

.fas {
  color: white;
  font-size: 2rem;
}
